/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
  --light-text: #ffffff;
  --dark-text: #252525;
  --score-text: #656565;
  --scissors: #BD00FF;
  --paper: #FFA943;
  --rock: #0074B6;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --text-shadow: 0 9px 10px rgba(104, 104, 104, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #8CC461;
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}

/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 5rem;
}

.header {
  position: relative;
  right: 18%;
  display: grid;
  grid-template-columns: 9fr 2fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  height: 150px;
  width: 50vw;
  border: 3px solid var(--light-text);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo {
  transform: scale(1.5);
  letter-spacing: 2px;
  margin-left: 105.5px;
  text-shadow: var(--box-shadow);
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 130px;
  height: 110%;
  line-height: 1;
}

.score__title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--score-text);
  margin-bottom: 10px;
  text-shadow: var(--text-shadow);
}

.comp__score__number {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--dark-text);
  text-shadow: var(--text-shadow);
}

.user__score__number {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--dark-text);
  text-shadow: var(--text-shadow);
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "rock scissors"
    "paper paper";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}

.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.choice {
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset var(--box-shadow);
}

.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #80b459;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
  animation: beat 1s infinite alternate;
}


/* img beat animation */
@keyframes beat {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.choice.paper::before {
  background: var(--paper);
  box-shadow: var(--box-shadow);
}

.choice.scissors::before {
  background: var(--scissors);
  box-shadow: var(--box-shadow);
}

.choice.rock::before {
  background: var(--rock);
  box-shadow: var(--box-shadow);
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}

.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}

.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "user-title comp-title"
    "user-picked comp-picked";
  max-width: 1000px;
  margin: 0 auto;
  animation: fade 1s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 5;
  }

}

.results-heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}

.small-text {
  font-size: 0.5em;
  letter-spacing: 0.2rem;
}

.results-result {
  min-width: 8rem;
  min-height: 8rem;
  background: #80b459;
  border-radius: 50%;
  transform: scale(1.3);
  z-index: -1;
}


.results-heading:first-of-type {
  grid-area: user-title;
}

.results-heading:last-of-type {
  grid-area: comp-title;
}

.results-result:first-of-type {
  grid-area: user-picked;
}

.results-result:last-of-type {
  grid-area: comp-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "user-title . comp-title"
    "user-picked result-winner comp-picked";
}

.winner .choice::after {
  animation: ripple 2s ease-out 1s infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 103, 32, 0.2),
      0 0 0 0 rgba(46, 154, 37, 0.5),
      0 0 0 0 rgba(29, 168, 43, 0.3);
  }

  50% {
    opacity: 15;
  }

  100% {
    box-shadow: 0 0 0 25px rgba(59, 103, 32, 0.2),
      0 0 0 43px rgba(46, 154, 37, 0.5),
      0 0 0 67px rgba(29, 168, 43, 0.3);
  }
}

.results-winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}

.results-text {
  font-size: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.play-again-btn {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: #6B6B6B;
  padding: 0.7rem 2rem;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.replay-btn {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: #6B6B6B;
  padding: 0.7rem 2rem;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.play-again-btn:focus {
  border: 2px solid var(--outline);
}

/* Rules Section */
.rules-section {
  transform: scaleY(0);
  transform-origin: bottom;
  position: absolute;
  visibility: hidden;
  bottom: 5rem;
  right: 3rem;
  width: 20.5rem;
  background-color: #004429;
  padding: 1rem 1.6rem;
  border: 0.4rem solid white;
  border-radius: 20px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.5, 1.5, 0.5, 0.7);
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.open {
  transform: scaleY(1);
  visibility: visible;
}

.rules-section h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.rules-section .close-btn {
  position: absolute;
  top: -1.3rem;
  right: -1.3rem;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.rules-section .rules {
  font-size: 0.8rem;
}

.rules-section .rules li {
  padding-left: 1rem;
}

.rules-section .rules li::marker {
  content: '\25A0';
  font-size: 1rem;
  color: yellow;
}


.action-btns {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}

.rules-btn {
  border: 2px solid white;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  transform: scale(1.5);
  background: transparent;
  color: var(--light-text);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.next-btn {
  display: none;
  margin-left: 20px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  transform: scale(1.5);
  background: transparent;
  color: var(--light-text);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.next-btn button {
  text-decoration: none;
  color: white;
}

/* Hurray Section */
.hurray-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 30rem;
}

.hurray-section h2 {
  text-transform: uppercase;
  transform: scale(4);
  letter-spacing: 0.1rem;
  border: 1px solid red;
}

.hurray-section p {
  text-transform: uppercase;
  transform: scale(2.6);
  letter-spacing: 0.1rem;
  font-weight: 500;
  margin-top: 2.9rem;
  border: 1px solid blue;
}

.back-to-game {
  background: #fff;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  color: #6B6B6B;
  padding: 0.7rem 2rem;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin: 1rem 3rem 0 0;
}

/* Utilities */

.hidden {
  display: none;
}